<blumen-section-title [title]="'Sobre'"></blumen-section-title>

<div class="row">
    <div class="col-md-12">
        <div class="about">
            Goiano, 30 anos, apaixonado por software e tudo que é envolvido no processo. Solteiro,
            residindo em Goiânia (Goiás). Não sou fanático por nenhuma tecnologia, atualmente especializado em Java
            8+,
            Spring, Hibernate, PostgreSQL, Angular e Jenkins. Iniciando a jornada no mundo mobile com Flutter.
        </div>
    </div>
</div>