<blumen-section-title [title]="'Contato'"></blumen-section-title>

<div class="row">
    <div class="col-md-12">
        <div class="contact">

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="whatsappIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <a target="_blank"
                        href="https://web.whatsapp.com/send?phone=+5562982651331">+55 (62) 98265-1331</a>
                </div>
            </div>

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="mailIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <a target="_blank"
                        href="mailto:brunoblumenschein.es@gmail.com">brunoblumenschein.es@gmail.com</a>
                </div>
            </div>

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="linkedinIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <a target="_blank"
                        href="https://www.linkedin.com/in/blumenscheinbruno/">blumenscheinbruno</a>
                </div>
            </div>

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="githubIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <a target="_blank"
                        href="https://github.com/brunoblumenschein?tab=repositories">brunoblumenschein</a>
                </div>
            </div>

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="skypeIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <a href="skype:brunobbbbb?userinfo">brunobbbbb</a>
                </div>
            </div>

            <div class="contact-row">
                <div class="column-icons">
                    <fa-icon [icon]="homeIcon"></fa-icon>
                </div>
                <div class="column-text">
                    <div>Rua Araponga, Sem Número, </div>
                    <div>Qd. 144, Lt. 7, Casa 02.</div>
                    <div>Santa Genoveva.</div>
                    <div>74672-770. Goiânia-GO (Brasil)</div>
                </div>
            </div>

        </div>
    </div>
</div>