<div class="blumen-card">
    <div class="header">
        <fa-icon [icon]="icon"
            [class]="icon.iconName"></fa-icon>
        Hobbies
    </div>

    <div class="body">
        <div class="row">
            <div class="flex-container">
                <ng-container *ngFor="let item of hobbyCard.itens">

                    <div class="flex-item">
                        <fa-icon [icon]="item.icon"
                            [class]="item.icon.iconName"></fa-icon>

                        <div class="title">{{item.title}}</div>
                    </div>

                </ng-container>
            </div>
        </div>
    </div>
</div>